{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="jumbotron">
      <style>

      h1
      {
        font-size: 55px;
        font-family: Impact
      }
      </style>
        <h1><i class="fa fa-cogs"></i> Admin</h1>
    </div>

{% endblock %}
