{% extends 'bootstrap/layout.html.twig' %}

{% block content %}

<p>Le personnage  qui est un  à reçu une note globale de  </p> <br/> <br/>


     <a href="list.html.twig">Page liste</a>
     
{% endblock %}
