{% extends 'bootstrap/layout.html.twig' %}


{% block content %}


    <li class="list-group-item">
      <p class="lead">
        <ul class="list-group">
          <img src="{{ asset('web/vendor/img/luke-skywalker-star-wars.jpg') }}" />
        <b>
          <z style="font-size: 20px">
              Luke Skywalker
          </z>
        </b>
        <p>
        <i>
        <z style="font-size: 18px">
          Star Wars
        </i>
        </z>
      </p>

      </p>
      </ul>
<p style="font-size: 18px">Le personnage <strong>Luke Skywalker</strong> qui est un <strong>Hero</strong> à reçu une note globale de <strong>2/5</strong>. </p><br/>

<form action="list" method="post">
    <div>
        <label for="nom">Pseudonyme :</label>
        <input type="text" id="nom" name="user_name" />
    </div>
    <div>
        <label for="message">Note :</label>
        <textarea id="message" name="user_message"></textarea>
    </div>
    <div class="button">
        <button type="submit">Envoyer votre note</button>
    </div>
</form>
     <a href="list.html.twig">Liste des héros</a>

{% endblock %}
