<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
          <title>Review de tous les héros</title>
  </head>
<body>
  {% if user === null %}
      /** afficher l'icone pas connecté **/
    {% else %}
      <p>{{user.pseudo}}</p>
  {% endif %}

  {% for hero in heros %}

<p>Le personnage {{review.name}} qui est un {{review.type}} à reçu une note globale de {{review.note}} </p> <br/> <br/>
     {% endfor %}

     <a href="list.html.twig">Page liste</a>

      </body>

</html>
