{% extends 'bootstrap/layout.html.twig' %}

{% block content %}


    <li class="list-group-item">
      <p class="lead">
        <ul class="list-group">
          <img src="{{ asset('web/vendor/img/luke-skywalker-star-wars.jpg') }}" />
        <b>
          <z style="font-size: 20px">
              Star Wars
          </z>
        </b>
        <p>
        <i>
        <z style="font-size: 18px">
          Georges Lucas
        </i>
        </z>
        <z style="font-size: 18px">
          1977
        </z>

      </p>

      </p>
      </ul>
<p style="font-size: 18px">Le film <strong>Star Wars</strong> possède <strong>2</strong> personnages dont <strong>1</strong> Hero et <strong>1</strong> Vilain.</p><br/>


     <a href="list.html.twig">Page liste</a>

{% endblock %}
