{% extends 'bootstrap/layout.html.twig' %}

{% block content %}


    <li class="list-group-item">
      <p class="lead">
        <ul class="list-group">
          <img src="{{ asset('web/vendor/img/luke-skywalker-star-wars.jpg') }}" />
        <b>
          <z style="font-size: 20px">
              Star Wars
          </z>
        </b>
        <p>
        <i>
        <z style="font-size: 18px">
          Georges Lucas,
        </i>
        </z>
        <z style="font-size: 18px">
           1977
        </z>

      </p>

      </p>
      </ul>
<p style="font-size: 17px">Le film <strong>Star Wars</strong> possède <strong>2</strong> personnages dont <strong>1</strong> Hero et <strong>1</strong> Vilain.</p><br/>
<p>L'histoire de <strong>Star Wars</strong> se déroule dans une galaxie qui est le théâtre d'affrontements entre les Chevaliers Jedi et les Seigneurs noirs des Sith, personnes sensibles à la Force, un champ énergétique mystérieux leur procurant des pouvoirs psychiques.
  Les Jedi maîtrisent le Côté lumineux de la Force, pouvoir bénéfique et défensif, pour maintenir la paix dans la galaxie.
  Les Sith utilisent le Côté obscur, pouvoir nuisible et destructeur, pour leurs usages personnels et pour dominer la galaxie.
</p>
<br/>
<p>Les personnages en lien avec <strong>Star Wars</strong> :
  <br/>
    <br/>
<a href="hero_detail">Luke Skywalker
</a>
<br/>
<a href="hero_detail">Dark Vador
</a>

{% endblock %}
