{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Rate Your Hero{% endblock %}

{% block content %}
    <div class="jumbotron">
      <style>
          h1
          {
            font-size: 75px;
            font-family: Impact
          }
        </style>

      <h1><i class="fa fa-play-circle"></i> <strong>Rate Your Hero</strong></h1>
        <hr />
        <p1 class="lead" style="font-size: 30px">
            Ce site répertorie <strong>les héros</strong> et <strong>vilains</strong> de films et séries. Vous pouvez également noter chaque héros et vilains pour évaluer le meilleur héro selon <strong>vous</strong>.
          </p1>
        <br/>
        <br/>
        <br/>
         <p2 class="lead" style="font-size: 25px">Les personnages populaires :

           <br/>
           <br/>
        <a href="hero/detail">Luke Skywalker
        </a>

        <a href="hero/detail" style="margin: 433px">Dark Vador
        </a>
      </p2>
    </div>
{% endblock %}
