{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Rate Your Hero{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><i class="fa fa-graduation-cap"></i> Rate Your Hero</h1>
        <hr />
        <p class="lead">
            Ce site répertorie les héros et vilains de films et séries. Vous pouvez également noter chaque héro et vilains pour évaluer le meilleur héro selon <strong>vous</strong>.
        </p>
    </div>
{% endblock %}
