{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Rate Your Hero{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><i class="fa fa-graduation-cap"></i> Rate Your Hero</h1>
        <hr />

        <p class="lead">
          Luke Skywalker
          <img src="{{ asset('/bundles/img/luke-skywalker-star-wars.jpg') }}" />
        </p>
    </div>
{% endblock %}
